Source: base-files
Section: core
Priority: required
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>

Package: base-files
Architecture: any
Pre-Depends: awk
Depends: base-passwd (>= 2.0.3.4)
Description: IPlinux base system miscellaneous files
 This package contains the basic filesystem hierarchy of a IPlinux system, and
 several important miscellaneous files, such as /etc/iplinux_version,
 /etc/host.conf, /etc/issue, /etc/motd, /etc/profile, /etc/nsswitch.conf,
 and others.
