#!/usr/bin/make -f

package = base-files

build:
	touch build

clean:
	rm -f build debian/preinst
	rm -f `find . -name "*~"`
	rm -rf debian/tmp debian/files* core debian/substvars

binary-arch: build
	rm -rf debian/tmp
	mkdir -p debian/tmp/DEBIAN
	cd debian/tmp && install -d usr/share/$(package)
	cd debian && install -m 755 postinst tmp/DEBIAN
	cd debian && install -m 644 conffiles tmp/DEBIAN
	cd debian/tmp && install -d `cat ../directory-list`
	install -p -m 644 share/* debian/tmp/usr/share/base-files
	install -p -m 644 etc/* debian/tmp/etc
ifeq ($(DEB_HOST_GNU_SYSTEM),gnu)
	rmdir debian/tmp/proc
endif
	install -p -m 644 etc/motd debian/tmp/usr/share/base-files/motd
	chown -R root:root debian/tmp
	cd debian/tmp && chown root:staff   var/local
	cd debian/tmp && chmod 755  `find . -type d`
	cd debian/tmp && chmod 1777 `cat ../1777-dirs`
	cd debian/tmp && chmod 2775 `cat ../2775-dirs`
	dpkg-gencontrol -isp
	dpkg --build debian/tmp ..

binary-indep: build

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
